* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f5f5f5;
}
.wrapper{
  overflow-x: hidden;
  overflow-y: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.container{
height:350px;
width:700px;
  padding: 20px;
  background-color: rgb(248, 244, 244);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 10px rgba(83, 77, 77, 0.1);
  display: flex;
 
}
.content{
 padding:30px 20px;
  width: 50%;
  height: 100%;
display: flex;
  flex-direction: column;
  justify-content: center;
}
.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #222;
}

.description {
  font-size: 14px;
  color: #444;
  line-height: 1.4;
  margin-bottom: 20px;
}
img{
  height: 100%;
  width: 50%;
  object-fit: cover;
 border-radius: 10px;
  box-shadow: 0 4px 10px rgba(97, 92, 92, 0.1);
}

.mug{
  color: grey;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
}
.pricetitle{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.price{
  color:rgb(8, 138, 8);
  font-size: 22px;
  font-weight: bold;
}
.original-price{
  color: grey;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: line-through;
}
.btn{
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: green;
  color: white;
  padding: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
.btnImg{
  width: 18px;
  height: 18px;
  border-radius: 10px;
  object-fit: cover;
}
.btnText{
  color: white;
}